# GRUPO 1: PURO HUESO
                # NOTEBOOK 1
                            # LECTURA Y LIMPIEZA DE DATASET

In [3]:
#1 Importar librerias a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import LabelEncoder

In [4]:
#2 leer archivo csv
defunciones = pd.read_csv('arg_def_15_21.csv')

In [5]:
#3 Chequeamos que ley√≥ el archivo
defunciones.head()

,region,jurisdiccion,mes_anio_defuncion,mes_def,anio_def,sexo_id,sexo_nombre,grupo_etario,grupo_causa_defuncion_CIE10,cod_causa_muerte_CIE10,cantidad
0,1.Centro,6.Prov. Bs.As.,09/2015,9,2015,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P21,1
1,1.Centro,6.Prov. Bs.As.,09/2015,9,2015,1,1.Varones,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q60,1
2,1.Centro,6.Prov. Bs.As.,08/2015,8,2015,1,1.Varones,01.menor a 20 anios,"1600 MALFORM CONGENITAS, DEFORM Y ANOM CROM...",Q24,1
3,1.Centro,6.Prov. Bs.As.,05/2015,5,2015,1,1.Varones,01.menor a 20 anios,1000 ENF SISTEMA RESPIRATORIO,J18,1
4,1.Centro,6.Prov. Bs.As.,10/2015,10,2015,1,1.Varones,01.menor a 20 anios,1500 AFECC PERINATALES,P36,1

## Revisar tipo de datos en el dataset

In [8]:
# Usamos dtypes para chequear tipo de datos
defunciones.dtypes

region                         object
jurisdiccion                   object
mes_anio_defuncion             object
mes_def                         int64
anio_def                        int64
sexo_id                         int64
sexo_nombre                    object
grupo_etario                   object
grupo_causa_defuncion_CIE10    object
cod_causa_muerte_CIE10         object
cantidad                        int64
dtype: object

In [9]:
# Asigno variable al total de filas y de columnas
num_filas,num_columnas=defunciones.shape
print( f"El dataset tiene {num_filas} filas en total y tiene {num_columnas} columnas")

El dataset tiene 2516784 filas en total y tiene 11 columnas

In [10]:
# Chequeo de info de dataset
defunciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516784 entries, 0 to 2516783
Data columns (total 11 columns):
 #   Column                       Dtype
---  ------                       -----
 0   region                       object
 1   jurisdiccion                 object
 2   mes_anio_defuncion           object
 3   mes_def                      int64
 4   anio_def                     int64
 5   sexo_id                      int64
 6   sexo_nombre                  object
 7   grupo_etario                 object
 8   grupo_causa_defuncion_CIE10  object
 9   cod_causa_muerte_CIE10       object
 10  cantidad                     int64
dtypes: int64(4), object(7)
memory usage: 211.2+ MB

## Datos faltantes o nulos

In [14]:
# Revisar si existen datos faltantes en el dataset
valores_faltantes=defunciones.isnull().sum()
print(valores_faltantes)

region                         0
jurisdiccion                   0
mes_anio_defuncion             0
mes_def                        0
anio_def                       0
sexo_id                        0
sexo_nombre                    0
grupo_etario                   0
grupo_causa_defuncion_CIE10    0
cod_causa_muerte_CIE10         0
cantidad                       0
dtype: int64

In [15]:
# Datos con NA en el dataset

defunciones.isna().sum()

region                         0
jurisdiccion                   0
mes_anio_defuncion             0
mes_def                        0
anio_def                       0
sexo_id                        0
sexo_nombre                    0
grupo_etario                   0
grupo_causa_defuncion_CIE10    0
cod_causa_muerte_CIE10         0
cantidad                       0
dtype: int64

In [16]:
defunciones.notnull().count() # todos las filas tienen datos no hay nulo ni faltantes

region                         2516784
jurisdiccion                   2516784
mes_anio_defuncion             2516784
mes_def                        2516784
anio_def                       2516784
sexo_id                        2516784
sexo_nombre                    2516784
grupo_etario                   2516784
grupo_causa_defuncion_CIE10    2516784
cod_causa_muerte_CIE10         2516784
cantidad                       2516784
dtype: int64

In [17]:
# Pasar al readme: 
#El dataset no presenta datos faltantes o nulos. Todas las filas y columnas tienen alg√∫n tipo de dato. 
#Principalmente se cuentan con datos del tipo objeto y pocos enteros o float. 
#Cada fila del dataset equivale a una muerte en el pa√≠s.

# # Columnas en el dataset

In [19]:
# Columnas del dataset
defunciones.columns

Index(['region', 'jurisdiccion', 'mes_anio_defuncion', 'mes_def', 'anio_def',
       'sexo_id', 'sexo_nombre', 'grupo_etario', 'grupo_causa_defuncion_CIE10',
       'cod_causa_muerte_CIE10', 'cantidad'],
      dtype='object')

# Limpieza de datos

In [21]:
# Eliminar columnas 'mes_def', 'anio_def','sexo_id', 'cod_causa_muerte_CIE10', 'cantidad' 
# no sirven para el an√°lisis, presentan datos codificados y podr√≠an contener errores en la estandarizaci√≥n de datos.
defunciones.drop('mes_def', axis=1, inplace=True)
defunciones.drop('anio_def', axis=1, inplace=True)
defunciones.drop('sexo_id', axis=1, inplace=True)
defunciones.drop('cod_causa_muerte_CIE10', axis=1, inplace=True)
defunciones.drop('cantidad', axis=1, inplace=True)

defunciones.columns

Index(['region', 'jurisdiccion', 'mes_anio_defuncion', 'sexo_nombre',
       'grupo_etario', 'grupo_causa_defuncion_CIE10'],
      dtype='object')

In [22]:
# Renombrar columnas
defunciones.rename(columns={'grupo_causa_defuncion_CIE10': 'causa_defuncion', 'sexo_nombre': 'sexo'}, inplace=True)
defunciones.columns

Index(['region', 'jurisdiccion', 'mes_anio_defuncion', 'sexo', 'grupo_etario',
       'causa_defuncion'],
      dtype='object')

                        Columnas restantes, limpieza y estandarizaci√≥n

In [24]:
# Columna REGION - quitar n√∫meros y puntos
defunciones["region"]= defunciones.region.str.replace('([0,1,2,3,4,5,6,7,8,9,10])',"",1)
defunciones["region"]= defunciones.region.str.replace('([0])',"",1)
defunciones["region"]= defunciones.region.str.replace('.',"",)
defunciones["region"].unique()

/tmp/ipykernel_350/1016183382.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  defunciones["region"]= defunciones.region.str.replace('([0,1,2,3,4,5,6,7,8,9,10])',"",1)
/tmp/ipykernel_350/1016183382.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  defunciones["region"]= defunciones.region.str.replace('([0])',"",1)
/tmp/ipykernel_350/1016183382.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  defunciones["region"]= defunciones.region.str.replace('.',"",)

array(['Centro', 'Cuyo2', 'NOA1', 'PatSur', 'NEA', 'NOA2', 'NOA',
       'Pat Norte', 'sin especificar', 'Cuyo1'], dtype=object)

In [25]:
# Columna JURISDICCION - quitar n√∫meros y puntos

defunciones['jurisdiccion']= defunciones.jurisdiccion.str.extract('([a-zA-Z  ]+)')

defunciones['jurisdiccion'].unique()

array(['Prov', 'CABA', 'no identificado', 'Cordoba', 'Santa Fe',
       'Misiones', 'Chaco', 'Tucuman', 'Corrientes', 'Entre Rios',
       'Formosa', 'Mendoza'], dtype=object)

In [26]:
# Columna MES_ANIO_DEF separar mes del a√±o en dos columnas individuales FALTA
#eliminacion de fechas que tienen en su inicio 00

In [27]:
defunciones['mes_anio_defuncion'].unique()

array(['09/2015', '08/2015', '05/2015', '10/2015', '07/2015', '06/2015',
       '02/2015', '12/2015', '01/2015', '11/2015', '04/2015', '03/2015',
       '00/2015', '02/2016', '04/2016', '05/2016', '07/2016', '08/2016',
       '09/2016', '10/2016', '11/2016', '12/2016', '01/2016', '06/2016',
       '03/2016', '08/2017', '05/2017', '09/2017', '07/2017', '06/2017',
       '12/2017', '01/2017', '03/2017', '02/2017', '04/2017', '10/2017',
       '11/2017', '00/2017', '06/2018', '12/2018', '03/2018', '05/2018',
       '10/2018', '02/2018', '08/2018', '04/2018', '11/2018', '01/2018',
       '07/2018', '09/2018', '00/2018', '01/2019', '00/2019', '02/2019',
       '03/2019', '06/2019', '04/2019', '05/2019', '07/2019', '08/2019',
       '09/2019', '10/2019', '11/2019', '12/2019', '10/2020', '02/2020',
       '12/2020', '08/2020', '09/2020', '06/2020', '01/2020', '04/2020',
       '07/2020', '03/2020', '00/2020', '05/2020', '11/2020', '01/2021',
       '05/2021', '06/2021', '10/2021', '12/2021', '03/2021', '02/2021',
       '07/2021', '04/2021', '08/2021', '11/2021', '09/2021', '00/2021'],
      dtype=object)

In [28]:
defunciones = defunciones[~defunciones['mes_anio_defuncion'].str.startswith('00')]

In [50]:
defunciones['mes_anio_defuncion'].unique()

array(['09/2015', '08/2015', '05/2015', '10/2015', '07/2015', '06/2015',
       '02/2015', '12/2015', '01/2015', '11/2015', '04/2015', '03/2015',
       '02/2016', '04/2016', '05/2016', '07/2016', '08/2016', '09/2016',
       '10/2016', '11/2016', '12/2016', '01/2016', '06/2016', '03/2016',
       '08/2017', '05/2017', '09/2017', '07/2017', '06/2017', '12/2017',
       '01/2017', '03/2017', '02/2017', '04/2017', '10/2017', '11/2017',
       '06/2018', '12/2018', '03/2018', '05/2018', '10/2018', '02/2018',
       '08/2018', '04/2018', '11/2018', '01/2018', '07/2018', '09/2018',
       '01/2019', '02/2019', '03/2019', '06/2019', '04/2019', '05/2019',
       '07/2019', '08/2019', '09/2019', '10/2019', '11/2019', '12/2019',
       '10/2020', '02/2020', '12/2020', '08/2020', '09/2020', '06/2020',
       '01/2020', '04/2020', '07/2020', '03/2020', '05/2020', '11/2020',
       '01/2021', '05/2021', '06/2021', '10/2021', '12/2021', '03/2021',
       '02/2021', '07/2021', '04/2021', '08/2021', '11/2021', '09/2021'],
      dtype=object)

In [100]:
defunciones['anio'] = pd.to_datetime(defunciones['mes_anio_defuncion'], format='%m/%Y').dt.strftime('%y')

In [101]:
defunciones['anio'] = '20' + defunciones['anio']

In [102]:
defunciones['mes'] = pd.to_datetime(defunciones['mes_anio_defuncion'], format='%m/%Y').dt.strftime('%m')

In [103]:
defunciones.head()

,region,jurisdiccion,mes_anio_defuncion,sexo,grupo_etario,causa_defuncion,anio,mes
0,Centro,Prov,09/2015,Varones,0 a 20 anios,AFECC PERINATALES,2015,09
1,Centro,Prov,09/2015,Varones,0 a 20 anios,MALFORM CONGENITAS,2015,09
2,Centro,Prov,08/2015,Varones,0 a 20 anios,MALFORM CONGENITAS,2015,08
3,Centro,Prov,05/2015,Varones,0 a 20 anios,ENF SISTEMA RESPIRATORIO,2015,05
4,Centro,Prov,10/2015,Varones,0 a 20 anios,AFECC PERINATALES,2015,10

In [104]:
defunciones['anio'].unique()

array(['2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype=object)

In [ ]:
#Columna SEXO_NOMBRES se le cambi√≥ el nombre a "sexo" y se debe unificar los datos de - sin especificar e - ignorado
# para que queden 3 categorias de datos, varones, mujeres e sin especificar. FALTA
#Borrar n√∫meros antes de las categorias

In [71]:
defunciones['sexo']= defunciones.sexo.str.extract('([a-zA-Z  ]+)')

In [72]:
defunciones['sexo'].unique()

array(['Varones', 'Mujeres', 'Sin especificar', 'Ignorado'], dtype=object)

In [73]:
defunciones['sexo'] = defunciones['sexo'].replace('Ignorado', 'Sin especificar')

In [74]:
defunciones['sexo'].unique()

array(['Varones', 'Mujeres', 'Sin especificar'], dtype=object)

In [75]:
# Columna GRUPO_ETARIO borrar n√∫meros FALTA

In [76]:
defunciones['grupo_etario'] = defunciones['grupo_etario'].str.replace(r'^\d+\.', '')

/tmp/ipykernel_350/399464611.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  defunciones['grupo_etario'] = defunciones['grupo_etario'].str.replace(r'^\d+\.', '')

In [77]:
defunciones['grupo_etario'] = defunciones['grupo_etario'].str.replace('menor', '0')

In [78]:
defunciones['grupo_etario'].unique()

array(['0 a 20 anios', 'de 60 a 69 anios', 'de 40 a 49 anios',
       'de 20 a 39 anios', 'de 50 a 59 anios', ' de 80 anios y mas',
       'de 70 a 79 anios', 'sin especificar'], dtype=object)

In [79]:
# Columna causa_defuncion, anteriormente llamada grupo_causa_defuncion_CIE10, se borran los n√∫meros en los datos
defunciones['causa_defuncion']= defunciones.causa_defuncion.str.extract('([a-zA-Z  ]+)')
defunciones['causa_defuncion'].unique()

array([' AFECC  PERINATALES', ' MALFORM  CONGENITAS',
       ' ENF SISTEMA RESPIRATORIO', ' TRAST METABOLICOS',
       ' CIERTAS ENF INFECCIOSAS Y PARASITARIAS', ' SIGNOS',
       ' ENF  DEL SISTEMA URINARIO', ' ENF  DEL SISTEMA CIRCULATORIO',
       ' DEMAS CAUSAS DEFINIDAS', ' CAUSAS EXTERNAS', ' T MALIGNOS',
       ' ENF  DEL HIGADO', ' DIABETES MELLITUS',
       ' TRASTORNOS MENTALES Y DEL COMP', ' EMBARAZO', ' C IN SITU',
       ' APEND ', ' MENINGITIS', ' ENF  DE ALZHEIMER',
       ' DEF  Y ANEMIAS NUTRICION'], dtype=object)

Convertir con bindig categorias de sexo y grupo etario FALTA

In [96]:
defunciones.head()

,region,jurisdiccion,mes_anio_defuncion,sexo,grupo_etario,causa_defuncion,anio,mes
0,Centro,Prov,09/2015,Varones,0 a 20 anios,AFECC PERINATALES,15,09
1,Centro,Prov,09/2015,Varones,0 a 20 anios,MALFORM CONGENITAS,15,09
2,Centro,Prov,08/2015,Varones,0 a 20 anios,MALFORM CONGENITAS,15,08
3,Centro,Prov,05/2015,Varones,0 a 20 anios,ENF SISTEMA RESPIRATORIO,15,05
4,Centro,Prov,10/2015,Varones,0 a 20 anios,AFECC PERINATALES,15,10